/* smart cities CSS */

.windsock {
	/*border-color: orange;
	border-left:;
	height: 5px;*/

/*	width: 0; 
	height: 0; */
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.windArrow{
	display:block;
	width:12px;
	height:12px;
	font-size: 20px;
	margin-left: 10px;
}
	